#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  /* max-width: 1200px; */
  width: 100%;
  /* background-color: red; */
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;line-height: 1.5;
}
.text-primary{
  color:#0D6EFD;
}