

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://hanpuremall.co.kr/plugin/Jssor.Slider.FullPack/img/landscape/01.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://hanpuremall.co.kr/plugin/Jssor.Slider.FullPack/img/landscape/03.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://hanpuremall.co.kr/plugin/Jssor.Slider.FullPack/img/landscape/04.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  
  <div class="container mt-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Trang chu</a></li>
          <li class="breadcrumb-item">San pham</li>
        </ol>
      </nav>

    <h1 class="text-primary fs-3">TRẢI NGHIỆM MÔI TRƯỜNG LÀM VIỆC ĐÁM MÂY TRÊN 3DEXPERIENCE</h1>
      <p>Khi nhu cầu phát triển các trải nhiệm dành cho người dùng tăng lên và các sản phẩm cũng trở nên phức tạp và kết nối hơn thì khả năng truy cập dữ liệu phát triển sản phẩm và công tác hiệu quả với các bên liên quan trên các địa điểm khác nhau một cách dễ dàng - thuận tiện trở nên quan trọng hơn bao giờ hết . Bây giờ, bất kỳ một doanh nghiệp nào cũng có thể tận dụng các nguồn lức mới để đáp ứng các xu hướng này.</p>
      <p>Nhập 3dexperience works, 3dexperience sẽ cung cấp quyền truy cập vào danh mục đang phát triển bằng các ứng dụng thiết kế của solidworks - nơi tất cả các thành viên của một tổ chức, đội nhóm có thể đóng góp cho quá trình thiết kế để: </p>
  </div>